$basic: rgba(#66118d, 0.75);

body {
  background-image: url('../images/desk.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
}

#app {
  background-color: rgba(#ffffff, 0.58);
  height: 100vh;
  width: 500px;
}

.app {
  padding-top: 25px;
}

.contactForm {
  display: flex;
  flex-wrap: wrap;
  margin-left: 60px;
  width: 400px;

  input {
    background-color: rgba(231, 231, 231, 0.0);
    border: none;
    border-bottom: 1px solid;
    flex: 1;
    line-height: 40px;
    margin: 10px;
    outline: none;

    &::placeholder {
      color: rgba(255, 255, 255, 0.88);
      font-size: 15px;
    }
    &:hover {
      border-bottom: 1px solid $basic;
      &::placeholder {
        color: rgba(255, 255, 255, 0.48);
      }
    }
  }


  button {
    background-color: $basic;
    border: none;
    color: rgba(255, 255, 255, 0.88);
    margin: 10px;
    padding: 7px 12px;

    &:hover {
      background-color: #66118d;
    }
  }
}

.contactList {
  padding-bottom: 135px;
}

.contactItem {
  background-color: rgba(231, 231, 231, 0.68);
  border: 1px solid grey;
  border: none;
  display: flex;
  margin: 10px 30px;
  width: 380px;

  img {
    height: 75px;
    margin: 20px 5px 20px 20px;
    width: 75px;
  }

  &:hover {
    background-color: rgba(231, 231, 231, 0.88);
  }
}

.contactContent {
  border-left: 3px solid rgb(146, 21, 90);
  display: inline-block;
  margin: 30px 15px;
  padding-left: 15px;
}

.contactLabel {
  color: black;
  display: inline-block;
  font-weight: 400;
  letter-spacing: 0.8px;
  margin: 5px 5px 5px 0px;
  padding-bottom: 3px;
}

.contactEmail {
  color: rgb(80, 80, 80);
  display: block;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  &:hover {
    color: $basic;
  }
}